@import url(fonts.css);

#index-wrapper{
    width: 1350px;
    height: 610px;
}

#index-left-pane{
    float: left;
    width: 70%;
    height: 100%;
}
#inner-left{
    float: left;
    width: 60%;
    height: 100%;
    background-color: #789;
}
#index-logo{
    margin: auto;
    height: 40%;
    width: 355px;
}
#index-logo img{
    width: 355px;
}
#index-search{
    height: 60%;
    width: 100%;
    background-color: #876;
}
#search-bar{
    width: 355px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
}
#search-bar .search{
    margin-top: 0;
    margin-right: 0;
}
#search-result{
    width: 547px;
    height: 321px;
    margin: 3px 9px 3px 9px;
    border: thin solid #000;
    border-radius: 3px;
    background-color: #987;
}

#inner-right{
    float: right;
    width: 40%;
    height: 100%;
    background-color: #456;
}
#index-activities{
    height: 421px;
    width: 100%;
    background-color: #234;
}
.index-updates{
    height: 203px;
    width: 368px;
    margin: 4px;
    border: thin solid #000;
    border-radius: 3px;
    text-align: center;
}
.index-updates span{
    text-decoration: underline;
    line-height: 35px;
}
#index-desc{
    width: 100%;
    height: 183px;
    margin: 0 0 0 0;
    text-align: justify;
    background-color: #835
}
#index-desc p{
    margin: 0 0 0 0;
    padding: 50px 20px 0 20px;
}


#index-right-pane{
    float: right;
    width: 30%;
    height: 100%;
    background-color: #c7c7c7;
}
.login-text{
    margin: 10px;
    height: 30px;
    border: 3px solid #EBE6E2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    width: 270px;
}
.login-text:focus{
    border-color: #BBB;
    outline: none;
}