@import url(fonts.css);
@import url(placeholder.css);
@import url(login.styles.css);
@import url(search.styles.css);

body{
    font-family: kirvy;
}

#index-wrapper{
    width: 960px;
    height: 620px;
    margin-left: auto;
    margin-right: auto;
}

#index-main{
    width: 450px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}
#index-main img{
    width: 450px;
}

#index-bottom{
    text-align: center;
}