@import url(fonts.css);
@import url(personal.view.styles.css);
@import url(master.stats.styles.css);

body {
    font-family: kirvy;
    font-size: 14px;
}

#master{
    width: 962px;
    height: 100%;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 100%;
    height: 100px;
}

#header-left{
    float: left;
}

#logo img{
    width: 300px;
    padding-top: 20px;
}

#header-right{
    float: right;
    width: 660px;
}

#header-right div{
    float: right;
}

#inside-search{
    
}

#nav-bar{
    width: 640px;
    height: 40px;
    border-radius: 50px;
    margin: 5px 0 5px 10px;
    background-color: rgba(0, 157, 0, 0.5);
}

#wrapper{
    width: 100%;
    height: 100%;
}

#left-pane{
    width: 300px;
    float: left;
}

.upper-panel{
    text-align: center;
}

.profile-pic img{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
}
.profile-pic img:hover{
    cursor: pointer;
    width: 156px;
    border: 2px solid rgba(1, 116, 1, 0.5);
}

.user-name{
    font-family: kirvy;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease;
}
.user-name:hover{
    font-family: kirvy-bold;
    color: rgba(1, 116, 1, 1);
    cursor: pointer;
    transition: all 0.5s ease;
}

#right-pane{
    float: right;
}

#calender{
    width: 660px;
    height: 500px;
    background-color: #735;
}

#footer{
    display: block;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
}