@import url(fonts.css);

#search {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

#txtSearch[type="text"] {
    background: url(../images/search-white.png) no-repeat 10px 6px #fcfcfc;
    border-radius: 20px;
    border: 1px solid #d1d1d1;
    font: 12px kirvy-bold;
    color: #343434;
    width: 298px;
    padding: 6px 15px 6px 35px;
    margin-top: 20px;
    /*-webkit-border-radius: 20px;
    -moz-border-radius: 20px;*/
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    /*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

#txtSearch[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(0, 255, 0, 0.2);
    
}
#btnSearch{
    margin-top: 10px;
    margin-left: 135px;
    margin-right: 115px;
    width: 70px;
    height: 22px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-family: kirvy;
    font-size: 13px;
    display: none;
}